<h1 mat-dialog-title>Congifure Board</h1>
<div mat-dialog-content>
    <mat-form-field>
        <input matInput type="number" min="7" step="2" placeholder="Board Width" [(ngModel)]="data.size.w">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="5" placeholder="Board Height" [(ngModel)]="data.size.h">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="0" placeholder="Blue Balls" [(ngModel)]="data.numBlueBalls">
    </mat-form-field>
    <mat-form-field>
        <input matInput type="number" min="0" placeholder="Red Balls" [(ngModel)]="data.numRedBalls">
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Starting Color" [(ngModel)]="data.startingColor">
            <mat-option value="Blue">Blue</mat-option>
            <mat-option value="Red">Red</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
</div>